<div class="card-body px-0">
    <!-- Bouton Ajouter -->
    <div class="d-flex justify-content-end mb-3">
        <a routerLink="/back/events/ajouterevent" class="btn btn-sm btn-primary me-2">Ajouter</a>
    </div>
    <!-- Liste des événements affichés horizontalement -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Boucle sur les événements -->
        <div class="col" *ngFor="let event of events">
            <div class="card bg-transparent border h-100 d-flex flex-column justify-content-center align-items-center"> 
                <!-- Card body -->
                <div class="card-body text-center">
                    <!-- Nom de l'événement -->
                    <h5 class="card-title mb-3">{{ event.nom_event }}</h5>
                    <img [src]="event.image" alt="Event Image">
                    <div [ngClass]="{'available': isEventAvailable(event.date_fin), 'unavailable': !isEventAvailable(event.date_fin)}">
                        <p *ngIf="isEventAvailable(event.date_fin)" class="available">L'événement est disponible 😊</p>
                        <p *ngIf="!isEventAvailable(event.date_fin)" class="unavailable">L'événement n'est plus disponible ☹️</p>
                    </div>
                    <!-- Affichage des réservations -->
                    <div *ngFor="let reservation of reservationsMap[event.id]">
                        <p>{{ reservation.dateRes|date }}</p> <!-- Ajustez pour afficher les données appropriées de la réservation -->
                    </div>

                    <!-- Reste du code -->
                </div>
            </div>
        </div>
    </div>
</div>
