<div class="card-body px-0">
    <!-- Liste des événements -->
    <div class="row">
        <!-- Boucle sur les événements -->
        <div class="col-md-6 mb-4" *ngFor="let event of events">
            <div class="card">
                <div class="card-body">
                    <!-- Titre de l'événement -->
                    <h5 class="card-title">{{ event.nom_event }}</h5>
                    <!-- Afficher les réservations pour cet événement -->
                    <ul>
                        <li *ngFor="let reservation of getReservationsForEvent(event.id)">
                            {{ reservation.date_reservation }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
