<form [formGroup]="annonceForm" (ngSubmit)="insertEvent()">
  <div class="mb-3">
    <label class="form-label">Nom de l'Événement</label>
    <input type="text" class="form-control" formControlName="nom_event" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Date de début *</label>
    <input type="datetime-local" class="form-control" formControlName="date_debut" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Date de fin *</label>
    <input type="datetime-local" class="form-control" formControlName="date_fin" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Places disponibles *</label>
    <input type="number" class="form-control" formControlName="placesDispo" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Places restantes *</label>
    <input type="number" class="form-control" formControlName="placesRestants" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Image *</label>
    <input type="file" class="form-control" formControlName="image" (change)="handleFileInput($event)" required>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter Événement</button>
</form>
